/node_modules
/client/node_modules

desktop.ini
/middleware/desktop.ini
/models/desktop.ini
/routes/desktop.ini
/client/desktop.ini

/client/build

.DC_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/config/default.json
/config/production.json