:root {
	--main-color: #1a8fff;
	--text-color: #777;
	--text-color-light: #ccc;
	--border-color: #eee;
	--bg-color: #f9f9f9;
	--neutral-color: #fff;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
	color: var(--text-color);
	background: var(--bg-color);
	position: relative;
}

header {
	display: block;
	width: 100%;
	padding: 1.75em 0;
	border-bottom: 1px solid var(--border-color);
	background: var(--neutral-color);
}

header #logo {
	font-size: 175%;
	text-align: center;
	color: var(--main-color);
	line-height: 1;
}

header #logo .icon {
	padding-right: 0.25em;
}

main {
	display: block;
	margin: 0 auto;
	margin-top: 5em;
	max-width: 50em;
}

.row {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.row-middle {
	align-items: center;
}

.col {
	flex-grow: 1;
	flex-basis: 0;
}

.col-start {
	justify-content: flex-start;
	text-align: left;
}

.col-center {
	justify-content: center;
	text-align: center;
}

.col-end {
	justify-content: flex-end;
	text-align: right;
}

.calendar {
	display: block;
	position: relative;
	width: 100%;
	background: var(--neutral-color);
	border: 1px solid var(--border-color);
	height: calc(100vh - 70px);
}

.calendar .header {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 115%;
	padding: 1.75em 0;
	border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
	cursor: pointer;
	transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
	transform: scale(1.75);
	transition: 0.25s ease-out;
	color: var(--main-color);
}

.calendar .header .icon:first-of-type {
	margin-left: 1em;
}

.calendar .header .icon:last-of-type {
	margin-right: 1em;
}

.calendar .days {
	text-transform: uppercase;
	font-weight: 400;
	color: var(--text-color-light);
	font-size: 70%;
	padding: 0.75em 0;
	border-bottom: 1px solid var(--border-color);
}
.calendar .body {
	flex-grow: 1;
	height: calc(100% - 92.73px - 34.46px - 3rem);
}
.calendar .body .cell {
	position: relative;
	border-right: 1px solid var(--border-color);
	overflow: none;
	cursor: pointer;
	background: var(--neutral-color);
	transition: 0.25s ease-out;
	flex: 1;
	height: 100%;
	padding-bottom: 1rem;
}

.calendar .body .cell::-webkit-scrollbar {
	width: 0px;
}

.calendar .body .cell:hover {
	background: var(--bg-color);
	transition: 0.5s ease-out;
}

.calendar .body .selected {
	border-left: 10px solid transparent;
	border-color: var(--primary);
	border-image-slice: 1;
}

.calendar .body .row {
	border-bottom: 1px solid var(--border-color);
	flex: 1;
	height: calc((100% / 6));
}

.calendar .body .cell:last-child {
	border-right: none;
}

.calendar .body .cell .number {
	font-size: 82.5%;
	text-align: center;
	width: 100%;
	line-height: 1;
	font-weight: 700;
}

.calendar .body .disabled {
	color: var(--text-color-light);
	pointer-events: none;
}

.calendar .body .col {
	flex-grow: 0;
	flex-basis: calc(100% / 7);
	width: calc(100% / 7);
}

.addEditWrapperCalendar {
	display: block;
	z-index: 99;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	top: 0;
	right: 0;
	height: 100vh;
	overflow-y: scroll;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	transition: opacity 0.2s, visibility 0.2s;
}

.addEditWrapperCalendar::-webkit-scrollbar {
	width: 0px;
}

.addEditWrapperCalendar.active {
	visibility: visible;
	opacity: 1;
	width: 100%;
}
.containerWrap {
	position: relative;
}

.react-datetime-picker__wrapper {
	border: transparent !important;
}
.eventUnselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.dateEvents {
	height: 90px;
	overflow-y: scroll;
}

.dateEvents::-webkit-scrollbar {
	width: 0px;
}

.dateEvents.disabled {
	display: none !important;
}

@media (min-width: 992px) {
	.addEditWrapperCalendar.active {
		width: 34.7%;
		transition: all 0.2s;
	}
}
