/*Pomodoro Area Container*/
.wrapper {
	height: 100vh;
}

/* Pomodoro Timer */
.messageWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.message {
	font-size: 1.5rem;
	color: #aaa;
}

.value {
	font-size: 5rem;
}

.timerBtn {
	width: 100%;
	margin: auto;
}

.settingsBtn {
	top: 0;
	right: 0;
	font-size: 2rem;
}

/* Pomodoro Forms */

.settingsSidebar {
	z-index: 99;
	top: 0px;
	right: 0px;
	height: 100%;
	transition: width 2s;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
	width: 0%;
	transition: all 0.2s;
}
.settingsSidebar.active {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	transition: all 0.2s;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

.closeBtn {
	top: 0;
	right: 0;
	border-radius: 0 !important;
	font-size: 2rem;
}

/* Responsive Media Queries */
@media (min-width: 768px) {
	/* Pomodoro Timer */
	.timerBtn {
		width: 350px;
		margin: auto;
	}
}
@media (min-width: 992px) {
	/* Pomodoro Forms */
	.settingsSidebar.active {
		width: 30%;
	}
}
